.instructor {
  margin-bottom: 1em;

  .photo {
    margin-right: 0.7em;
  }

  h3 {
    margin-bottom: 0.1em !important;
  }

  h3, h4 {
    margin-top: 0px;
  }

  .social {
    img {
      margin-right: 0.6em;
    }
  }
}
