h1 Thank you

p Thank you for purchasing this course. All course materials are now available to you. Please click button below to get started:

a.btn.btn-primary.btn-lg href=course_path(@course) Go to course
