ENGINE_HOST=app.dockerhost.dev
SAMPLE_APP_HOST=sample.dockerhost.dev
FAYE_HOST=faye.dockerhost.dev
FAYE_URL=faye.dockerhost.dev/faye

ENGINE_POSTGRES_PASSWORD=password
REDIS_PROVIDER=REDIS_URL
REDIS_URL=redis://redis:6379
