@import "bootstrap";
@import "highlightjs";

.cheatsheet {
  pre {
    border: 0;
    padding: 0;
    background: none;
  }

  table {
    th {
      background-color: #a4c2f4;
      padding: 0.5em;
      font-size: 1.1em;
    }

    th, td {
      code {
      }
    }
  }
}
