@import "bootstrap-337/bootstrap/variables";
@import "bootstrap-337/bootstrap/mixins";
@import "bootstrap-337/bootstrap/normalize";

@import "bootstrap-337/bootstrap/type";
@import "bootstrap-337/bootstrap/code";
@import "bootstrap-337/bootstrap/scaffolding";
@import "bootstrap-337/bootstrap/grid";
@import "bootstrap-337/bootstrap/tables";

@import "bootstrap-337/bootstrap/utilities";
@import "bootstrap-337/bootstrap/responsive-utilities";

@import "highlightjs";

@import "all/common";

.container-fluid {
  margin: 0px 0px;
  padding: 0px;
}

.cheatsheet {
  pre {
    border: 0;
    padding: 0;
    background: none;
  }

  table {
    width: 100%;

    th {
      background-color: #a4c2f4;
      padding: 0.5em;
      font-size: 1.1em;
    }

    th, td {
      code {
      }
    }
  }
}

@media print {
  table {
    page-break-inside: avoid;
  }
}
