---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=andrey%40qainstructor.com&source=tok_17QskwGevQFxhd9Er12NBrPs
    headers:
      Authorization:
      - Bearer sk_test_WSN1jVuPERjOSdpGt9PVMcmM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7gFFdNoIfYBXCP",
          "object": "customer",
          "account_balance": 0,
          "created": 1452230767,
          "currency": null,
          "default_source": "card_17QskwGevQFxhd9EP5sfKpwr",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "andrey@qainstructor.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17QskwGevQFxhd9EP5sfKpwr",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7gFFdNoIfYBXCP",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2020,
                "fingerprint": "RDUQMemwC6uXu3yU",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "andrey@qainstructor.com",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7gFFdNoIfYBXCP/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7gFFdNoIfYBXCP/subscriptions"
          }
        }
  recorded_at: Fri, 08 Jan 2016 05:26:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3900&currency=usd&customer=cus_7gFFdNoIfYBXCP&description=Test+course
    headers:
      Authorization:
      - Bearer sk_test_WSN1jVuPERjOSdpGt9PVMcmM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17QslHGevQFxhd9Eu2gclKVA",
          "object": "charge",
          "amount": 3900,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17QslHGevQFxhd9EkoaNcbrK",
          "captured": true,
          "created": 1452230767,
          "currency": "usd",
          "customer": "cus_7gFFdNoIfYBXCP",
          "description": "Test course",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17QslHGevQFxhd9Eu2gclKVA/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17QskwGevQFxhd9EP5sfKpwr",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_7gFFdNoIfYBXCP",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 11,
            "exp_year": 2020,
            "fingerprint": "RDUQMemwC6uXu3yU",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "andrey@qainstructor.com",
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 08 Jan 2016 05:26:08 GMT
recorded_with: VCR 3.0.0
