---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=andrey%40qainstructor.com&source=tok_17QspIGevQFxhd9EqjNr11sf
    headers:
      Authorization:
      - Bearer sk_test_WSN1jVuPERjOSdpGt9PVMcmM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7gFKo3kCiPeyHj",
          "object": "customer",
          "account_balance": 0,
          "created": 1452231066,
          "currency": null,
          "default_source": "card_17QspIGevQFxhd9ErLsKsDaL",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "andrey@qainstructor.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17QspIGevQFxhd9ErLsKsDaL",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7gFKo3kCiPeyHj",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 11,
                "exp_year": 2020,
                "fingerprint": "pi04lXUbJujF94U2",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": "andrey@qainstructor.com",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7gFKo3kCiPeyHj/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7gFKo3kCiPeyHj/subscriptions"
          }
        }
  recorded_at: Fri, 08 Jan 2016 05:31:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3900&currency=usd&customer=cus_7gFKo3kCiPeyHj&description=Test+course
    headers:
      Authorization:
      - Bearer sk_test_WSN1jVuPERjOSdpGt9PVMcmM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17Qsq7GevQFxhd9ExmtxMQyO"
          }
        }
  recorded_at: Fri, 08 Jan 2016 05:31:07 GMT
recorded_with: VCR 3.0.0
