h1 Secret message app

p This is an example single page application which shows secret message when user clicks on the button.

p Click button below to see the message.

form method="post" action="/message"
  input.btn.btn-default type="submit" value="Show message"
