h1 Front page

p Already have an account?

form method='get' action='/signin'
  input.btn.btn-default type='submit' value='Sign in'

br

p Don't have an account? Click below to register.

form method="get" action="/register"
  input.btn.btn-default type="submit" value="Register"
