---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=andrey%40qainstructor.com&source=tok_17QrxBGevQFxhd9E3Aa8lrrE
    headers:
      Authorization:
      - Bearer sk_test_WSN1jVuPERjOSdpGt9PVMcmM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7gEmv3BmnepUDf",
          "object": "customer",
          "account_balance": 0,
          "created": 1452228985,
          "currency": null,
          "default_source": "card_17QrxBGevQFxhd9EqmO8lhdy",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "andrey@qainstructor.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17QrxBGevQFxhd9EqmO8lhdy",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7gEmv3BmnepUDf",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2020,
                "fingerprint": "RDUQMemwC6uXu3yU",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": "andrey@qainstructor.com",
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7gEmv3BmnepUDf/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7gEmv3BmnepUDf/subscriptions"
          }
        }
  recorded_at: Fri, 08 Jan 2016 04:56:25 GMT
recorded_with: VCR 3.0.0
