AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=secret
AWS_REGION=us-west-2

CLOUDFRONT_KEYPAIR_ID=APKAJOFI6LPEQFF4GFKQ
CLOUDFRONT_DOMAIN=d14zs6yz6aq979.cloudfront.net

REDIS_PROVIDER=REDIS_URL
REDIS_URL=redis://redis:6379

ROLLBAR_ACCESS_TOKEN=token

DISCOURSE_SSO_SECRET=secret
DISCOURSE_URL=http://forum.qainstructor.com
