AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=secret

REDIS_PROVIDER=REDIS_URL
REDIS_URL=redis://redis:6379

ROLLBAR_ACCESS_TOKEN=token

DISCOURSE_SSO_SECRET=secret
DISCOURSE_URL=http://forum.qainstructor.com
