JOBS_DIR=/Users/jobs

STRIPE_KEY=key
STRIPE_SECRET_KEY=secret

ENGINE_HOST=lvh.me
SAMPLE_APP_HOST=sample.lvh.me
FAYE_HOST=faye.lvh.me
FAYE_URL=http://faye.lvh.me/faye

POSTGRES_PASSWORD=pass
ENGINE_POSTGRES_PASSWORD=pass
