JOBS_DIR=/Users/jobs

STRIPE_KEY=key
STRIPE_SECRET_KEY=secret

ENGINE_HOST=dockerhost.dev
SAMPLE_APP_HOST=sample.dockerhost.dev
FAYE_HOST=faye.dockerhost.dev
FAYE_URL=http://faye.dockerhost.dev/faye

POSTGRES_PASSWORD=pass
ENGINE_POSTGRES_PASSWORD=pass
