RAILS_ENV=production
JOBS_DIR=/jobs

STRIPE_KEY=key
STRIPE_SECRET_KEY=secret

ENGINE_HOST=qainstructor.com
SAMPLE_APP_HOST=sample.qainstructor.com
FAYE_HOST=faye.qainstructor.com
FAYE_URL=http://faye.qainstructor.com/faye

POSTGRES_PASSWORD=pw
ENGINE_POSTGRES_PASSWORD=pw

SECRET_KEY_BASE=secret

SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USERNAME=user
SMTP_PASSWORD=pw
